# To get started with Dependabot version updates, you'll need to specify which
# package ecosystems to update and where the package manifests are located.
# Please see the documentation for all configuration options:
# https://docs.github.com/github/administering-a-repository/configuration-options-for-dependency-updates

version: 2
updates:
  - package-ecosystem: "pip" # See documentation for possible values
    directory: "/" # Location of package manifests
    schedule:
      interval: "daily"
    open-pull-requests-limit: 20
    allow:
      - dependency-type: "all"
    ignore:
      - dependency-name: "*"
        update-types: ["version-update:semver-major"]
      - dependency-name: "celery"             # due to conflict with 'click' package with spleeter 
      - dependency-name: "numpy"              # due to conflict with 'nnabla'
      - dependency-name: "nnabla"             # due to conflict with 'numpy'
      - dependency-name: "nnabla-ext-*"       # due to conflict with 'numpy'
      - dependency-name: "protobuf"           # due to conflict with 'nnabla'
      - dependency-name: "torch*"             # due to conflict with 'nnabla' and CUDA
      - dependency-name: "tensorflow"         # due to conflict with 'spleeter'
        update-types: ["version-update:semver-major", "version-update:semver-minor"]

  - package-ecosystem: "npm"
    directory: "/frontend"
    schedule:
      interval: "daily"
    open-pull-requests-limit: 20
    ignore:
      - dependency-name: "*"
        update-types: ["version-update:semver-major"]
      - dependency-name: "tone" # https://github.com/Tonejs/Tone.js/pull/971
