absl-py==0.11.0
amqp==5.0.6
appdirs==1.4.4
asgiref==3.3.4
astroid==2.5.3
astunparse==1.6.3
async-timeout==3.0.1
attrs==20.3.0
audioread==2.1.9
azure-common==1.1.27
azure-storage-blob==2.1.0
azure-storage-common==2.1.0
billiard==3.6.3.0
boto3==1.16.50
botocore==1.19.50
cachetools==4.2.1
celery==5.0.5
certifi==2020.6.20
cffi==1.14.3
chardet==3.0.4
click==7.1.2
click-didyoumean==0.0.3
click-plugins==1.1.1
click-repl==0.1.6
colorama==0.4.3
configparser==5.0.1
contextlib2==0.6.0.post1
coverage==5.3
cryptography==3.4.7
Cython==0.29.23
decorator==4.4.2
-e git+https://github.com/JeffreyCA/demucs.git@dae8434926b740b18aad20096773b8229acfd053#egg=demucs
Django==3.2
django-picklefield==3.0.1
django-storages==1.11.1
django-webpack-loader==0.7.0
djangorestframework==3.12.2
ffmpeg-python==0.2.0
future==0.18.2
gast==0.3.3
google-api-core==1.24.1
google-api-python-client==1.12.8
google-auth==1.24.0
google-auth-httplib2==0.0.4
google-auth-oauthlib==0.4.2
google-pasta==0.2.0
googleapis-common-protos==1.52.0
grpcio==1.34.0
gunicorn==20.0.4
h11==0.12.0
h2==3.2.0
h5py==2.10.0
hpack==3.0.0
httpcore==0.12.2
httplib2==0.19.0
httpx==0.16.1
hyperframe==5.2.0
idna==2.10
imageio==2.9.0
importlib-metadata==3.10.1
isort==4.3.21
jmespath==0.10.0
joblib==1.0.0
jsonschema==3.2.0
Keras-Preprocessing==1.1.2
kombu==5.0.2
lameenc==1.2.2
lazy-object-proxy==1.4.3
librosa==0.8.0
llvmlite==0.35.0
Markdown==3.3.3
mccabe==0.6.1
multidict==4.7.6
musdb==0.3.1
museval==0.3.0
mutagen==1.45.1
nnabla==1.13.0
nnabla-ext-cuda102==1.13.0; sys_platform == 'linux'
norbert==0.2.1
numba==0.52.0
numpy==1.18.5
oauthlib==3.1.0
onnx==1.8.0
opt-einsum==3.3.0
packaging==20.8
pandas==1.1.2
Pillow==8.0.1
pip-autoremove==0.9.1
pooch==1.3.0
prompt-toolkit==3.0.8
protobuf==3.13.0
pyaml==20.4.0
pyasn1==0.4.8
pyasn1-modules==0.2.8
pycparser==2.20
pydub==0.24.1
pylint==2.7.4
pylint-django==2.4.3
pylint-plugin-utils==0.6
pyparsing==2.4.7
pyrsistent==0.17.3
python-dateutil==2.8.1
python-magic==0.4.18; sys_platform == 'linux'
python-magic-bin==0.4.14; sys_platform != 'linux'
pytz==2019.3
PyYAML==5.4.1
redis==3.5.3
requests==2.25.1
requests-oauthlib==1.3.0
resampy==0.2.2
rfc3986==1.4.0
rsa==4.7.2
s3transfer==0.3.3
scikit-learn==0.23.2
scipy==1.4.1
simplejson==3.17.2
six==1.15.0
sniffio==1.2.0
SoundFile==0.10.3.post1
spleeter==2.2.2
SQLAlchemy==1.3.22
sqlparse==0.3.1
stempeg==0.2.2
tensorboard==2.4.0
tensorboard-plugin-wit==1.7.0
tensorflow==2.3.0
tensorflow-estimator==2.3.0
termcolor==1.1.0
threadpoolctl==2.1.0
toml==0.10.1
torch==1.4.0
tqdm==4.36.1
treetable==0.2.3
typed-ast==1.4.1
typer==0.3.2
typing-extensions==3.7.4.3
uritemplate==3.0.1
urllib3==1.25.10
vine==5.0.0
wcwidth==0.2.5
Werkzeug==1.0.1
whitenoise==5.2.0
wrapt==1.12.1
xumx-unofficial==0.1.0
yapf==0.31.0
yarl==1.6.3
-e git+https://github.com/JeffreyCA/youtube-dl.git@5af035971b6e4e326b6bc2cc1ea91965cd202d63#egg=youtube_dl
youtube-title-parse==1.0.0
zipp==3.2.0
