absl-py==0.15.0
amqp==5.1.1
antlr4-python3-runtime==4.9.3
anyio==3.6.1
appdirs==1.4.4
asgiref==3.5.2
astunparse==1.6.3
attrs==21.4.0
audioread==2.1.9
azure-core==1.22.1
azure-storage-blob==12.11.0
billiard==3.6.4.0
boto3==1.24.13
botocore==1.27.13
Brotli==1.0.9
cached-property==1.5.2
cachetools==5.2.0
celery==5.1.2
certifi==2022.6.15
cffi==1.15.0
charset-normalizer==2.0.12
click==7.1.2
click-didyoumean==0.3.0
click-plugins==1.1.1
click-repl==0.2.0
cloudpickle==2.1.0
configparser==5.2.0
contextlib2==21.6.0
cryptography==37.0.2
Cython==0.29.30
d3net-spleeterweb==0.1.3
decorator==5.1.1
demucs==3.0.3
Deprecated==1.2.13
diffq==0.2.2
Django==3.2.13
django-picklefield==3.1
django-storages==1.12.3
django-webpack-loader==0.7.0
djangorestframework==3.13.1
dora-search==0.1.10
ffmpeg-python==0.2.0
flatbuffers==1.12
future==0.18.2
gast==0.4.0
google-api-core==2.8.2
google-api-python-client==2.51.0
google-auth==2.8.0
google-auth-httplib2==0.1.0
google-auth-oauthlib==0.4.6
google-pasta==0.2.0
googleapis-common-protos==1.56.2
greenlet==1.1.2
grpcio==1.34.1
gunicorn==20.1.0
h11==0.12.0
h2==4.1.0
h5py==3.1.0
hpack==4.0.0
httpcore==0.13.7
httplib2==0.20.4
httpx==0.19.0
hyperframe==6.0.1
idna==3.3
imageio==2.19.3
importlib-metadata==3.10.1
importlib-resources==5.8.0
isodate==0.6.1
jmespath==1.0.1
joblib==1.1.0
jsonschema==4.6.0
julius==0.2.6
keras-nightly==2.5.0.dev2021032900
Keras-Preprocessing==1.1.2
kombu==5.2.4
lameenc==1.4.1
librosa==0.8.0
llvmlite==0.36.0
Markdown==3.3.4
msrest==0.6.21
musdb==0.4.0
museval==0.4.0
mutagen==1.45.1
nnabla==1.25.0
norbert==0.2.1
numba==0.53.1
numpy==1.19.5
oauthlib==3.2.0
omegaconf==2.2.2
openunmix==1.2.1
openvino==2021.4.2
opt-einsum==3.3.0
packaging==21.3
pandas==1.3.5
Pillow==9.1.1
pooch==1.6.0
prompt-toolkit==3.0.29
protobuf==3.19.4
pyaml==21.10.1
pyasn1==0.4.8
pyasn1-modules==0.2.8
pycparser==2.21
pycryptodomex==3.14.1
pydub==0.25.1
pyparsing==3.0.9
pyrsistent==0.18.1
python-dateutil==2.8.2
pytz==2022.1
PyYAML==6.0
redis==4.1.4
requests==2.28.0
requests-oauthlib==1.3.1
resampy==0.2.2
retrying==1.3.3
rfc3986==1.5.0
rsa==4.8
s3transfer==0.6.0
scikit-learn==1.0.2
scipy==1.7.3
simplejson==3.17.6
six==1.15.0
sniffio==1.2.0
SoundFile==0.10.3.post1
spleeter==2.3.0
SQLAlchemy==1.4.31
sqlparse==0.4.2
stempeg==0.2.3
submitit==1.4.2
tensorboard==2.9.1
tensorboard-data-server==0.6.1
tensorboard-plugin-wit==1.8.1
tensorflow==2.5.0
tensorflow-estimator==2.5.0
termcolor==1.1.0
threadpoolctl==3.1.0
torch==1.11.0
torchaudio==0.11.0
tqdm==4.64.0
treetable==0.2.5
typer==0.3.2
typing-extensions==3.7.4.3
uritemplate==4.1.1
urllib3==1.26.9
validators==0.18.2
vine==5.0.0
wcwidth==0.2.5
websockets==10.3
Werkzeug==2.1.2
whitenoise==6.2.0
wrapt==1.12.1
xumx-spleeterweb==0.2.4
yapf==0.31.0
youtube-title-parse==1.0.0
yt-dlp @ git+https://github.com/JeffreyCA/yt-dlp@2098fcebb93d655711c198651ce7db6ffa0ce025
zipp==3.8.0
nnabla-ext-cuda110==1.25.0; sys_platform == 'linux'
python-magic==0.4.27; sys_platform == 'linux'
python-magic-bin==0.4.14; sys_platform != 'linux'
