.rhap_additional-controls {
    flex: initial !important;
}

.rhap_container {
    min-width: initial !important;
    padding: 5px 10px !important;
}

.rhap_controls-section {
    flex: initial !important;
}

.rhap_current-time {
    width: 45px !important;
}

.rhap_total-time {
    text-align: center;
}

.rhap_progress-indicator {
    width: 15px !important;
    height: 15px !important;
    margin-left: -8px !important;
    top: -5px !important;
}

.rhap_volume-controls {
    flex: initial !important;
}

/*
 * Only show play/stop button on smaller screens
 */
@media only screen and (max-width: 992px) {
    .rhap_container {
        display: inherit !important;
    }

    .rhap_horizontal .rhap_controls-section {
        margin-left: 0px !important;
    }

    .rhap_main {
        justify-content: center !important;
    }

    .rhap_progress-container {
        display: none !important;
    }

    .rhap_progress-section {
        display: none !important;
    }

    .rhap_time {
        display: none !important;
    }
}
