.badge-vocals {
  background-color: #7c56c9;
  color: white;
}

.badge-accomp {
  background-color: #02acb4;
  color: white;
}

.badge-piano {
  background-color: #000000;
  color: white;
}

.badge-drums {
  background-color: #a8110d;
  color: white;
}

.badge-bass {
  background-color: #095ba4;
  color: white;
}

.badge-vocals-faded {
  background-color: #7c56c92c;
  color: white;
}

.badge-accomp-faded {
  background-color: #02abb42c;
  color: white;
}

.badge-piano-faded {
  background-color: #5454542c;
  color: white;
}

.badge-drums-faded {
  background-color: #a8120d2a;
  color: white;
}

.badge-bass-faded {
  background-color: #095ca428;
  color: white;
}

.refresher {
  display: flex;
  justify-content: flex-end;
}
