.table > tbody > tr > td {
  vertical-align: middle;
}

.react-bootstrap-table .row-expansion-style {
  padding: 0;
}

.react-bootstrap-table table {
  table-layout: auto !important;
}

.inner-table {
  background-color: #ececec;
}

.inner-table th {
  border-top: #b7b7b7 solid 2px !important;
  border-bottom: #b7b7b7 solid 2px !important;
}

.inner-table td {
  border-top: #b7b7b7 solid 2px !important;
}

.inner-table > tbody > tr > td {
  background-color: #e8e8e8 !important;
}

.btn-secondary.disabled,
.btn-secondary:disabled {
  color: #fff;
  background-color: #b1b2b3 !important;
  border-color: #b1b2b3 !important;
}

.spinner-border {
  vertical-align: middle !important;
  -webkit-animation: spinner-border 1s linear infinite !important;
  animation: spinner-border 1s linear infinite !important;
}

.reset-expansion-style {
  background-color: #ececec;
}
