.table > tbody > tr > td {
    vertical-align: middle;
}

.react-bootstrap-table .row-expansion-style {
    padding: 0;
}

.react-bootstrap-table table {
    table-layout: auto !important;
}

.inner-table {
    background-color: #e8e8e8;
}

.inner-table > tbody > tr > td {
    background-color: #e8e8e8 !important;
}
