@-webkit-keyframes export-progress-bar-stripes {
  0% {
    background-position-x: 1rem;
  }
}

@keyframes export-progress-bar-stripes {
  0% {
    background-position-x: 1rem;
  }
}

.export-progress {
  display: flex;
  height: 1rem;
  overflow: hidden;
  font-size: 0.75rem;
  background-color: #e9ecef;
  border-radius: 0.25rem;
}

.export-progress-bar {
  display: flex;
  flex-direction: column;
  justify-content: center;
  overflow: hidden;
  color: #fff;
  text-align: center;
  white-space: nowrap;
  background-color: #0d6efd;
  transition: width 0.6s ease;
}
@media (prefers-reduced-motion: reduce) {
  .export-progress-bar {
    transition: none;
  }
}

.export-progress-bar-striped {
  background-image: linear-gradient(45deg, rgba(255, 255, 255, 0.15) 25%, transparent 25%, transparent 50%, rgba(255, 255, 255, 0.15) 50%, rgba(255, 255, 255, 0.15) 75%, transparent 75%, transparent);
  background-size: 1rem 1rem;
}

.export-progress-bar-animated {
  -webkit-animation: 1s linear infinite export-progress-bar-stripes;
  animation: 1s linear infinite export-progress-bar-stripes;
}
@media (prefers-reduced-motion: reduce) {
  .export-progress-bar-animated {
    -webkit-animation: none;
    animation: none;
  }
}