.vol-slider {
  margin-left: 10px;
  width: 100%;
  max-width: 500px;
  height: 50px;
  border-width: 1px;
  border-image: initial;
}

.vol-slider .vol-thumb {
  top: 10px;
  width: 30px;
  height: 30px;
}

.vol-thumb {
  font-size: 1.0em;
  text-align: center;
  background-color: grey;
  color: grey;
  border-radius: 50%;
  cursor: grab;
}

.vol-track {
  position: relative;
  background: rgb(221, 221, 221);
  cursor: pointer;
}

.vol-slider .vol-track {
  top: 20px;
  height: 10px;
  border-radius: 5px;
}

.vol-track.vol-track-0 {
  background: #6c757d;
}

.vol-label {
  font-size: 0.9em;
  line-height: 2.1;
  color: white;
}

.volume-ui {
  margin-top: 10px;
  align-items: center;
  justify-content: center;
}

.badge {
  margin-right: 10px;
  width: 65px;
}

.badge-group {
  display: flex;
  align-items: center;
  justify-content: flex-start;
}
